#bloc_page {
    margin: auto;
    max-width: 100%;
}

header {
    text-align: center;
    color: #fdcb46;
    font-size: 1.5em;
    background-color: #579c87;
    padding: 1% 0%;
}

section {
    display: flex;
    margin: auto;
    max-height: fit-content;
}

/* Page principale */ 

$shadow: #00000050;

.menu {
    max-width: 100%;
    transform: scale(1);
    transition: ease-in-out 250ms;
    opacity: 1;
    margin-bottom: -4%;
    &:hover {
        transform: scale(1.10);
        opacity: 0.7;
        
    }
}

.menu_note {
    margin: 5% 2.5% 2.5% 10%;
    box-shadow: 0px 0px 8px $shadow;
    overflow: hidden;
}

.menu_chic {
    margin: 5% 10% 2.5% 2.5%;
    box-shadow: 0px 0px 8px $shadow;
    overflow: hidden;
}

.menu_delice {
    margin: 2.5% 2.5% 10% 10%;
    box-shadow: 0px 0px 8px $shadow;
    overflow: hidden;
}

.menu_palette {
    margin: 2.5% 10% 10% 2.5%;
    box-shadow: 0px 0px 8px $shadow;
    overflow: hidden;
}

.btn__future {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 8%;
    text-align: center;
    color: #fdcb46;
    background-color: #579c87;
    border-radius: 1rem;
    max-width: 17%;
    padding: 1% 5%;
}

/* Animation points de suspensions */

.spinner {
    padding-left: 4%;
    padding-right: 4%;
}

.spinner > div {
    width: 0.4rem;
    height: 0.4rem;
    background-color: #fdcc46dc;
    border-radius: 100%;
    display: inline-block;
    animation: bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    animation-delay: -0.16s;
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
      transform: scale(0);
    } 
    40% { 
      transform: scale(1.0);
    }
}

/* Pied de page */

$shake-intensity: 2%;

@keyframes wiggle {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX(-$shake-intensity);
    }
}

footer {
    text-align: center;
    font-size: 1.5em;
    background-color: #579c87;
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 99%;
}

.legal {
    display: inline-block;
    position: relative;
    right: 30%;
    &:hover {
        animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9) 3;
    }
}

.contact {
    display: inline-block;
    position: relative;
    left: 30%;
    &:hover {
        animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9) 3;
    }
}

a {
    text-decoration: none;
    color: #fdcb46;
}

/* Pages de menus */

h1 {
    text-align: center;
}

article h2, h3 {
    text-align: center;
}

article {
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.article__note {
    background-color: #fcdfdb;
    color: #3d1319;
}

.article__chic {
    background-color: #fff5fe;
}

.article__delice {
    background-color: #edefef;
}

.article__palette {
    background-color: #fdfffd; 
}

/* Menu note enchantée */

.itunes-note {
    text-align: center;
    font-size: 3rem;
}

/* Police spécifique pour les menus */

.h2__note, .h3__note {
    font-family: 'Devonshire', cursive, sans-serif;
}

/* Alignement pour les prix des menus */

p {
    position: relative;
}

.price {
    position: absolute;
    right: 0rem;
}