#bloc_page {
    margin: auto;
    max-width: 100%;
}

header {
    text-align: center;
    color: #fdcb46;
    background-color: #579c87;
    padding: 1% 0%;
}

section {
    display: flex;
    margin: auto;
}

.menu {
    max-width: 100%;
}

/* Page principale */

#menu_note {
    margin: 5% 2.5% 2.5% 10%;
    border: solid black 5px;
}

#menu_chic {
    margin: 5% 10% 2.5% 2.5%;
    border: solid black 5px;
}

#menu_delice {
    margin: 2.5% 2.5% 10% 10%;
    border: solid black 5px;
}

#menu_palette {
    margin: 2.5% 10% 10% 2.5%;
    border: solid black 5px;
}

#prochainement {
    margin: auto;
    text-align: center;
    color: #fdcb46;
    background-color: #579c87;
    border-radius: 10px;
    max-width: 20%;
    padding: 1% 5%
}

/* Pied de page */

footer {
    text-align: center;
    color: #fdcb46;
    background-color: #579c87;
    position: absolute;
    bottom: 0;
    width: 99%;
}

.left {
    position: relative;
    right: 35%;
}

.right {
    position: relative;
    left: 35%;
}

/* Pages de menus */

h1 {
    text-align: center;
}

article {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    
}

/* Media Queries */
