@charset "UTF-8";
#bloc_page {
  margin: auto;
  max-width: 100%;
}

body {
  margin: 0rem;
}

header {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  text-align: center;
  color: #fdcb46;
  font-size: 1.5em;
  background-color: #579c87;
  padding: 0.5rem 0;
}

.container__menus {
  display: flex;
  margin: auto;
  max-height: fit-content;
}

.main__legal {
  margin-bottom: 22%;
}

/* Page principale */
.menu {
  max-width: 100%;
  transform: scale(1);
  transition: ease-in-out 250ms;
  opacity: 1;
  margin-bottom: -4%;
}
.menu:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.menu_note {
  margin: 5% 2.5% 2.5% 10%;
  box-shadow: 0px 0px 8px #00000050;
  overflow: hidden;
}

.menu_chic {
  margin: 5% 10% 2.5% 2.5%;
  box-shadow: 0px 0px 8px #00000050;
  overflow: hidden;
}

.menu_delice {
  margin: 2.5% 2.5% 10% 10%;
  box-shadow: 0px 0px 8px #00000050;
  overflow: hidden;
}

.menu_palette {
  margin: 2.5% 10% 10% 2.5%;
  box-shadow: 0px 0px 8px #00000050;
  overflow: hidden;
}

.btn__future {
  font-family: "Prompt", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5em;
  margin: auto;
  margin-bottom: 8%;
  text-align: center;
  color: #fdcb46;
  background-color: #579c87;
  border-radius: 1rem;
  padding: 1% 5%;
  width: 230px;
  margin-bottom: 25%;
}
.btn__future p {
  margin: auto;
  margin-left: 0;
}

/* Animation points de suspensions */
.spinner {
  padding-left: 4%;
}

.spinner > div {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #fdcc46dc;
  border-radius: 100%;
  display: inline-block;
  animation: bouncedelay 1.5s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
/* Pied de page */
@keyframes wiggle {
  /* Animation pour secouer */
  0% {
    transform: translateX(1px) rotate(0deg);
  }
  10% {
    transform: translateY(-1px) rotate(-1deg);
  }
  20% {
    transform: translateX(-3px) rotate(1deg);
  }
  30% {
    transform: translateY(3px) rotate(0deg);
  }
  40% {
    transform: translateX(1px) rotate(1deg);
  }
  50% {
    transform: translateY(-1px) rotate(-1deg);
  }
  60% {
    transform: translateX(-3px) rotate(0deg);
  }
  70% {
    transform: translateY(3px) rotate(-1deg);
  }
  80% {
    transform: translateX(-1px) rotate(1deg);
  }
  90% {
    transform: translateY(1px) rotate(0deg);
  }
  100% {
    transform: translateX(1px) rotate(-1deg);
  }
}
footer {
  font-family: "Prompt", sans-serif;
  text-align: center;
  font-size: 1.5em;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5% 0;
}
footer address {
  font-style: normal;
}

.legal {
  display: inline-block;
}
.legal:hover {
  animation: wiggle 300ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
}

.contact {
  display: inline-block;
}
.contact:hover {
  animation: wiggle 300ms cubic-bezier(0.4, 0.1, 0.6, 0.9) infinite;
  /* Animation pour secouer */
}

a {
  text-decoration: none;
  color: #fdcb46;
}

.grid {
  /* Grid template pour organiser le positionnement du texte dans le footer */
  display: grid;
  display: flex;
}
.grid .area__legal {
  flex: 1;
  text-align: left;
  margin-left: 2%;
}
.grid .area__contact {
  flex: 1;
  text-align: right;
  margin-right: 2%;
}

/* Pages de menus */
h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
}

section h2, h3 {
  text-align: center;
}

section {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

p {
  position: relative;
  /* Alignement pour les prix des menus */
}

.price {
  position: absolute;
  /* Alignement pour les prix des menus */
  right: 0rem;
}

/* Menu La note enchantée */
.section__note {
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: "Sriracha", cursive, sans-serif;
  padding-bottom: 1%;
  margin-bottom: 15%;
}
.section__note i {
  background: linear-gradient(90deg, #ef465f, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.itunes-note {
  text-align: center;
  font-size: 3rem;
}

.h2__note, .h3__note {
  font-family: "Devonshire", cursive, sans-serif;
  font-weight: 100;
}

.h2__note {
  font-size: 3rem;
  margin-top: auto;
}

.h3__note {
  font-size: 2rem;
}

.h3__prelude, .h3__orgue, .h3__final {
  position: relative;
}
.h3__prelude::before, .h3__orgue::before, .h3__final::before {
  /* Bordures de décoration (note enchantée) */
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 40%;
  left: 0px;
  top: 50%;
  background: #3d1319;
  border-radius: 50% 20%/10% 40%;
}
.h3__prelude::after, .h3__orgue::after, .h3__final::after {
  /* Bordures de décoration (note enchantée) */
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 40%;
  right: 0px;
  top: 50%;
  background: #3d1319;
  border-radius: 50% 20%/10% 40%;
}
.h3__prelude a, .h3__orgue a, .h3__final a {
  /* Animation pour souligner de gauche à droite entrées/plats/desserts (note enchantée) */
  position: relative;
  color: #3d1319;
  text-decoration: none;
}
.h3__prelude a:hover, .h3__orgue a:hover, .h3__final a:hover {
  color: #3d1319;
}
.h3__prelude a:hover::before, .h3__orgue a:hover::before, .h3__final a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.h3__prelude a::before, .h3__orgue a::before, .h3__final a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3d1319;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  transform-origin: left;
}

/* Menu Le chic à la française */
.section__chic {
  background-color: #fff5fe;
  font-family: "Noto Serif", serif, sans-serif;
  padding-bottom: 2%;
}
.section__chic p {
  max-width: 90%;
  margin: auto;
  margin-top: 1rem;
}
.section__chic h3 {
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
}
.section__chic h3::before {
  /* Bordures de décoration */
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  left: 0px;
  top: 50%;
  border-top: solid 7px;
  border-radius: 60% 0 0 60%;
}
.section__chic h3::after {
  /* Bordures de décoration */
  content: "";
  display: block;
  position: absolute;
  width: 30%;
  right: 0px;
  top: 50%;
  border-top: solid 7px;
  border-radius: 0 60% 60% 0;
}
.section__chic .h2__chic {
  font-family: "Croissant One", cursive, sans-serif;
  font-size: 2rem;
  background: linear-gradient(135deg, #e38913, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 5%;
  padding-bottom: 5%;
}
.section__chic .chic__entrance {
  color: #c67412;
}
.section__chic .chic__entrance a {
  /* Animation pour souligner de gauche à droite entrées/plats/desserts (chic à la française) */
  position: relative;
  color: #c67412;
  text-decoration: none;
}
.section__chic .chic__entrance a:hover {
  color: #c67412;
}
.section__chic .chic__entrance a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.section__chic .chic__entrance a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c67412;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  transform-origin: left;
}
.section__chic .chic__main {
  color: #a56799;
}
.section__chic .chic__main a {
  /* Animation pour souligner de gauche à droite entrées/plats/desserts (chic à la française) */
  position: relative;
  color: #a56799;
  text-decoration: none;
}
.section__chic .chic__main a:hover {
  color: #a56799;
}
.section__chic .chic__main a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.section__chic .chic__main a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a56799;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  transform-origin: left;
}
.section__chic .chic__sugar {
  color: #6e4ccc;
}
.section__chic .chic__sugar a {
  /* Animation pour souligner de gauche à droite entrées/plats/desserts (chic à la française) */
  position: relative;
  color: #6e4ccc;
  text-decoration: none;
}
.section__chic .chic__sugar a:hover {
  color: #6e4ccc;
}
.section__chic .chic__sugar a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.section__chic .chic__sugar a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6e4ccc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  transform-origin: left;
}

/* Menu Le délice des papilles */
.section__delice {
  background-color: #edefef;
  font-family: "Sriracha", cursive, sans-serif;
  font-weight: lighter;
  padding-top: 2%;
  padding-bottom: 2%;
}
.section__delice p {
  max-width: 90%;
  margin: auto;
  margin-top: 0.5rem;
}
.section__delice .h2__delice {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  background: linear-gradient(135deg, #001ed9, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__delice h3 {
  font-size: 1.3rem;
  font-weight: 100;
  position: relative;
}
.section__delice h3::before {
  /* Bordures de décoration */
  content: "";
  display: block;
  position: absolute;
  width: 35%;
  left: 0px;
  top: 50%;
  height: 4px;
  border-radius: 0 5rem 0 5rem;
}
.section__delice h3::after {
  /* Bordures de décoration */
  content: "";
  display: block;
  position: absolute;
  width: 35%;
  right: 0px;
  top: 50%;
  height: 4px;
  border-radius: 5rem 0 5rem 0;
}
.section__delice h3 a {
  /* Animation pour souligner de gauche à droite entrées/plats/desserts (délice des papilles) */
  position: relative;
  color: black;
  text-decoration: none;
}
.section__delice h3 a:hover {
  color: black;
}
.section__delice h3 a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.section__delice h3 a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  transform-origin: left;
}
.section__delice .h3__commencer::before, .section__delice .h3__commencer::after {
  background-color: #0228dd;
}
.section__delice .h3__continuer::before, .section__delice .h3__continuer::after {
  background-color: #0670f3;
}
.section__delice .h3__terminer::before, .section__delice .h3__terminer::after {
  background-color: #229df9;
}

/* Menu La palette du goût */
.section__palette {
  background-color: #fdfffd;
  font-family: "Sriracha", cursive, sans-serif;
  padding-top: 2%;
  padding-bottom: 4%;
  margin-bottom: 15%;
}
.section__palette p {
  max-width: 90%;
  margin: auto;
  margin-top: 0.5rem;
}
.section__palette .h2__palette {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  margin-bottom: 3rem;
  background: linear-gradient(135deg, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__palette h3 {
  position: relative;
  font-weight: 100;
}
.section__palette h3::before {
  /* Bordures de décoration */
  content: "";
  display: block;
  position: absolute;
  width: 35%;
  left: 0px;
  top: 50%;
  height: 7px;
  border-radius: 10% 30% 30% 10%;
  background: linear-gradient(135deg, #3d923a, #beff7f);
}
.section__palette h3::after {
  /* Bordures de décoration */
  content: "";
  display: block;
  position: absolute;
  width: 35%;
  right: 0px;
  top: 50%;
  height: 7px;
  border-radius: 30% 10% 10% 30%;
  background: linear-gradient(135deg, #beff7f, #3d923a);
}
.section__palette h3 a {
  /* Animation pour souligner de gauche à droite entrées/plats/desserts (délice des papilles) */
  position: relative;
  color: black;
  text-decoration: none;
}
.section__palette h3 a:hover {
  color: black;
}
.section__palette h3 a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.section__palette h3 a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  transform-origin: left;
}

/* Media Queries pour les écrans de petites tailles <425px */
@media all and (max-width: 425px) {
  @-webkit-viewport {
    width: device-width;
  }
  .container__menus {
    flex-direction: column;
  }

  .menu_note, .menu_chic, .menu_delice, .menu_palette {
    margin: auto;
    margin: 3% 3%;
  }

  footer {
    font-size: 1.17rem;
  }
}
/* Media Queries pour les écrans de petites tailles <768px */
@media all and (max-width: 767px) {
  @-webkit-viewport {
    width: device-width;
  }
  .section__chic h3::before, .section__chic h3::after {
    width: 6%;
  }

  .section__delice h3::before, .section__delice h3::after {
    width: 15%;
  }

  .section__palette h3::before, .section__palette h3::after {
    width: 20%;
  }

  .section__note p, .section__chic p, .section__delice p, .section__palette p {
    padding-right: 10%;
  }
}
/* Media Queries pour les écrans de petites tailles <1024px */
@media all and (max-width: 1023px) {
  #bloc_page {
    min-width: 100%;
    margin: auto;
  }

  section {
    margin: auto;
  }

  .section__chic {
    margin-bottom: 25%;
  }

  .section__delice {
    margin-bottom: 25%;
  }

  .section__palette {
    padding-bottom: 10%;
  }

  h3::before, h3::after {
    max-width: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
